@{
    ViewBag.Title = "Home Page";
}

<div class="center-align">
    <h1>Arduino Monitoring Project</h1>
    
    <h5>Christian Rios Mancilla</h5>
   
    <a href="/Arduino" class="waves-effect waves-light btn-large">Start</a>
</div>